= form_for video, remote: true, data: { type: :json }, html: { id: 'video-form' } do |f|
  = f.hidden_field :id, value: video.id if video.id
  .row#course-selects
    = select_tag :course,
                 options_from_collection_for_select(Course.all,
                 :id,
                 :name,
                 :selected => video.course.try(:id)),
                 { prompt: 'Curso' ,
                   id: 'course-select',
                   class: :uppercase,
                   data:{ url: url_for(controller: 'subjects', format: :json) } }
    = select_tag :subject,
                 options_from_collection_for_select(Subject.all,
                 :id,
                 :name,
                 :selected => video.subject.try(:id)),
               { prompt: 'Disciplina' ,
                 id: 'subject-select',
                 class: :uppercase,
                 data: { url: url_for(controller: 'subjects', action: :levels, format: :json)}}
    = select_tag :level,
                 options_from_collection_for_select(Level.all,
                 :id,
                 :name,
                 :selected => video.level.try(:id)),
               { prompt: 'Conteúdo' ,
                 id: 'level-select',
                 class: :uppercase,
                 data: { url: url_for(controller: 'topics', action: :level_topics,format: :json)}}
    = f.select :topic_id,
               options_from_collection_for_select(Topic.all, :id, :name, :selected => video.topic_id) ,
               {:include_blank => "Tópico"}, id: 'topic-select', class: :uppercase
  .row
    .col
      = f.text_field :url, placeholder: "URL [http://]"
      = f.text_field :channel, placeholder: "Canal"
      = f.text_field :title, placeholder: "Título [max. 120 carácteres]"
    .col
      = f.text_area :description, id: :descricao, placeholder: "Descrição"

  = f.submit 'Salvar', id: "button-save",class: 'button btn-default-form'
  = link_to 'Cancelar', '#', id: "button-cancel", class: "button btn-default-form close-reveal-modal"
