// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

//= require activeadmin-sortable

#header {
  background: #288FC8;
  background: -webkit-linear-gradient(-90deg, #288FC8, #0477B7);
  background: -moz-linear-gradient(-90deg, #288FC8, #0477B7);
  background: linear, -90deg, #288FC8, #0477B7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF288FC8', endColorstr='#FF0477B7');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF288FC8', endColorstr='#FF0477B7');
}
#title_bar {
  background: #BACFE1 !important;
  border: none !important;
}