= form_for exercise, multipart: true, remote: true, authenticity_token: true, html: { id: "exercise-form" }, data: { type: :json } do |f|
  = f.hidden_field :id, value: exercise.id if exercise.id
  .row.course-selects
    = select_tag :course,
                 options_from_collection_for_select(Course.all,
                 :id,
                 :name,
                 :selected => exercise.course.try(:id)),
                 { prompt: 'Curso' ,
                   id: 'course-select',
                   class: :uppercase,
                   data:{ url: url_for(controller: 'subjects', format: :json) } }
    = select_tag :subject,
                 options_from_collection_for_select(Subject.all,
                 :id,
                 :name,
                 :selected => exercise.subject.try(:id)),
               { prompt: 'Disciplina' ,
                 id: 'subject-select',
                 class: :uppercase,
                 data: { url: url_for(controller: 'subjects', action: :levels, format: :json)}}
    = select_tag :level,
                 options_from_collection_for_select(Level.all,
                 :id,
                 :name,
                 :selected => exercise.level.try(:id)),
               { prompt: 'Conteúdo' ,
                 id: 'level-select',
                 class: :uppercase,
                 data: { url: url_for(controller: 'topics', action: :level_topics,format: :json)}}
    = f.select :topic_id,
               options_from_collection_for_select(Topic.all, :id, :name, :selected => @exercise.topic_id) ,
               {:include_blank => "Tópico"}, id: 'topic-select', class: :uppercase
  .row
    .left-part
      = f.text_area :description, id: :descricao, placeholder: "Descrição"
      = f.file_field :cover, class: :hidden, id: "exercise-cover"
      = link_to image_tag('upload_conteudo.png') + " Upload Foto", '#', class: [:button, "full-space"], onclick: 'clickOn("#exercise-cover"); return false;'

    .right-part
      = render 'exercises/alternatives', exercise: exercise

  = f.submit 'Salvar', id: "button-save",class: 'button btn-default-form'
  = link_to 'Cancelar', '#', id: "button-cancel", class: "button btn-default-form close-reveal-modal"
